:root {
  --light-text: hsl(212, 6%, 44%);
  --dark-text: hsl(234, 12%, 34%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Poppins", sans-serif;
  color: var(--dark-text);
  font-weight: 400;
  font-size: 15px;
}
.container {
  display: grid;
  row-gap: 20px;
  margin-top: 40px;
}
.supervisor {
  border-top-style: solid;
  border-color: hsl(180, 62%, 55%);
  border-width: 4px;
  border-radius: 5px;
  box-shadow: 0 6px 8px 0 hsl(212, 6%, 44%, 0.2);
  padding: 10px 25px 50px 30px;
}
h2 {
  margin-bottom: 0px;
}
p {
  margin-top: 5px;
  text-align: left;
}
.team-builder {
  border-top-style: solid;
  border-color: hsl(0, 78%, 62%);
  border-width: 4px;
  border-radius: 5px;
  box-shadow: 0 6px 8px 0 hsl(212, 6%, 44%, 0.2);
  padding: 10px 25px 50px 30px;
}
.karma {
  border-top-style: solid;
  border-color: hsl(34, 97%, 64%);
  border-width: 4px;
  border-radius: 5px;
  box-shadow: 0 6px 8px 0 hsl(212, 6%, 44%, 0.2);
  padding: 10px 25px 50px 30px;
}
.calculator {
  border-top-style: solid;
  border-color: hsl(212, 86%, 64%);
  border-width: 4px;
  border-radius: 5px;
  box-shadow: 0 6px 8px 0 hsl(212, 6%, 44%, 0.2);
  padding: 10px 25px 50px 30px;
}
.icon {
  float: right;
  width: 56px;
  height: 56px;
  margin-top: 20px;
}

header > p {
  text-align: center;
}
header > h1 {
  font-weight: 200;
  font-size: 1.7em;
  line-height: 150%;
  text-align: center;
}
.bold-text {
  font-weight: 600;
  font-size: 1em;
  color: var(--dark-text);
  line-height: 150%;
}
@media screen and (min-width: 1440px) {
  body {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    max-width: 1000px;
  }
  .supervisor {
    grid-column: 1;
    grid-row: 1;
    transform: translateY(50%);
  }
  .team-builder {
    grid-column: 2;
    grid-row: 1;
  }

  .calculator {
    grid-column: 3;
    grid-row: 1;
    transform: translateY(50%);
  }

  .karma {
    grid-column: 2;
    grid-row: 2;
  }
  header > h1 {
    font-size: 2em;
  }
  header > p {
    max-width: 500px;
  }
}
